<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hello from Flask</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>
            Hello{% if name %} {{ name }} {% else %}, World!{% endif %}
        </h1>
        <h2>
            Will this show up in the refresh?
        </h2>
        <h3>
            It did!
        </h3>
        <h4>
            Amazing!
        </h4>
    </body>
</html>
